<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/style.css" />
  </head>

  <body class="sign-in">
    <nav>
      <div class="logo">
        <img src="../public/imgs/logo.jpg" alt="Ethio-Book Logo" />
        <h1>Ethio-Book</h1>
      </div>
      <div class="nav-2">
        <a class="nav-btn" href="/"><h2 class="nav-btn-title">Home</h2></a>
        <a class="nav-btn" href="/about"
          ><h2 class="nav-btn-title">About Us</h2></a
        >
        <a class="nav-btn" href="/sign-in"
          ><h2 class="nav-btn-title">Sign In</h2></a
        >
        <a class="nav-btn" href="/sign-up"
          ><h2 class="nav-btn-title">Sign Up</h2></a
        >
      </div>
    </nav>
    <div class="main-create-page">
      <div class="main-create-page-one">
        <h1>Create Book</h1>
        <input name="title" placeholder="Title" />
        <textarea name="content" placeholder="content"></textarea>
        <input name="author" placeholder="author" />
        <input name="link" placeholder="link" />
        <input value="Add" type="submit" />
      </div>
    </div>

    <div class="footer">
      <p>
        &copy; 2024 Ethio-Book. All rights reserved. |
        <a href="/privacy">Privacy Policy</a>
      </p>
    </div>
  </body>
</html>
