<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ethiopian-Reads</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="../public/imgs/logo.jpg" alt="Ethio-Book Logo" />
        <h1>Ethio-Book</h1>
      </div>
      <div class="nav-2">
        <a class="nav-btn" href="/"><h2>Home</h2></a>
        <a class="nav-btn" href="/about"><h2>About Us</h2></a>
        <a class="nav-btn" href="/sign-in"><h2>Sign In</h2></a>
        <a class="nav-btn" href="/sign-up"><h2>Sign Up</h2></a>
      </div>
    </nav>

    <div class="hero">
      <h1>Read Book and Make Your Mind Bright!</h1>
      <p>
        <strong
          >Welcome to Ethiopian-Reads, your gateway to the rich literary
          heritage of Ethiopia!</strong
        ><br />
        Our platform is dedicated to showcasing the diverse range of Ethiopian
        literature, both classic and contemporary. Whether you are looking for
        historical epics, political novels, heart-touching romances, or
        philosophical reflections, EthiopianReads has it all.
      </p>
    </div>

    <div class="footer">
      <p>
        &copy; 2024 Ethio-Book. All rights reserved. |
        <a href="/privacy">Privacy Policy</a>
      </p>
    </div>
  </body>
</html>
