<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/style.css" />
  </head>

  <body class="sign-in">
    <nav>
      <div class="logo">
        <img src="../public/imgs/logo.jpg" alt="Ethio-Book Logo" />
        <h1>Ethio-Book</h1>
      </div>
      <div class="nav-2">
        <a class="nav-btn" href="/"><h2>Home</h2></a>
        <a class="nav-btn" href="/sign-in"><h2>Create Book</h2></a>
        <a class="nav-btn" href="/about"><h2>About Us</h2></a>
        <button class="profileButton">
          <span class="addIcon"></span>
        </button>
      </div>
    </nav>
    <div class="main-card">
      <div class="main-card-one">
        <h1 class="card-title">Title</h1>
        <p class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          autem, possimus accusantium mollitia officia odit consectetur,
          accusamus unde.
        </p>
        <h3 class="card-author">Natnael Bahiru</h3>
        <input class="card-submit" type="button" value="Download pdf" />
      </div>
      <div class="main-card-one">
        <h1 class="card-title">Title</h1>
        <p class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          autem, possimus accusantium mollitia officia odit consectetur,
          accusamus unde.
        </p>
        <h3 class="card-author">Natnael Bahiru</h3>
        <input class="card-submit" type="button" value="Download pdf" />
      </div>
      <div class="main-card-one">
        <h1 class="card-title">Title</h1>
        <p class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          autem, possimus accusantium mollitia officia odit consectetur,
          accusamus unde.
        </p>
        <h3 class="card-author">Natnael Bahiru</h3>
        <input class="card-submit" type="button" value="Download pdf" />
      </div>
      <div class="main-card-one">
        <h1 class="card-title">Title</h1>
        <p class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          autem, possimus accusantium mollitia officia odit consectetur,
          accusamus unde.
        </p>
        <h3 class="card-author">Natnael Bahiru</h3>
        <input class="card-submit" type="button" value="Download pdf" />
      </div>
    </div>

    <div class="footer">
      <p>
        &copy; 2024 Ethio-Book. All rights reserved. |
        <a href="/privacy">Privacy Policy</a>
      </p>
    </div>
  </body>
</html>
