<html>
  <head>
    <link rel="stylesheet" href="../public/style.css" />
  </head>

  <body class="sign-in">
    <nav>
      <div class="logo">
        <img src="../public/imgs/logo.jpg" alt="Ethio-Book Logo" />
        <h1>Ethio-Book</h1>
      </div>
      <div class="nav-2">
        <a class="nav-btn" href="/"><h2>Home</h2></a>
        <a class="nav-btn" href="/about"><h2>About Us</h2></a>
        <a class="nav-btn" href="/sign-in"><h2>Sign In</h2></a>
        <a class="nav-btn" href="/sign-up"><h2>Sign Up</h2></a>
      </div>
    </nav>
    <div class="signin-main">
      <div class="signin-card">
        <h1 class="signin-title">Sign-In</h1>
        <div class="sign-in-username">
          <h2>Username :</h2>
          <input class="input-userpass" placeholder=" username..." required />
        </div>
        <div class="sign-in-password">
          <h2>Password :</h2>
          <input class="input-userpass" placeholder=" password..." required />
        </div>
        <input value="SignIn" type="submit" />
      </div>
    </div>
    <div class="footer">
      <p>
        &copy; 2024 Ethio-Book. All rights reserved. |
        <a href="/privacy">Privacy Policy</a>
      </p>
    </div>
  </body>
</html>
